<ion-view view-title="{{'SETTINGS.ADVANCED_MODE.TITLE' | translate}}">
    <ion-content has-bouncing="true">
        <button ng-click="buy()" class="button button-full button-priced button-light">1,29 <span>$</span></button>
        <p class="padding-top center"> {{'SETTINGS.ADVANCED_MODE.WAITING_FOR' | translate}}</p>
        <ion-list>
            <ion-item class="item item-avatar" type="item-text-wrap"> <img src="img/barcode.png" alt="balayage" />
                <h2 translate>SETTINGS.ADVANCED_MODE.SCANNING</h2>
                <p class="wrap" translate>SETTINGS.ADVANCED_MODE.SCAN_DESC</p>
            </ion-item>
            <ion-item class="item item-avatar" type="item-text-wrap"> <img src="img/models.png" alt="modèles" />
                <h2 translate>SETTINGS.ADVANCED_MODE.MODELS</h2>
                <p class="wrap" translate>SETTINGS.ADVANCED_MODE.MODELS_DESC</p>
            </ion-item>
            <ion-item class="item item-avatar avatar-notround" type="item-text-wrap"> <img src="img/share.png" alt="partage" />
                <h2 translate>SETTINGS.ADVANCED_MODE.SHARING</h2>
                <p class="wrap" translate>SETTINGS.ADVANCED_MODE.SHARING_DESC</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
