<ion-view title="{{'SETTINGS.ATTRIBUTION_TAB' | translate}}">
    <ion-content class="padding-top-extreme" has-bouncing="true">
        <p class="dimmed-75 center">
            Ionic Framework
        </p>
        <p class="dimmed-75 center">
            AngularJS
        </p>
        <p class="dimmed-75 center">
            Angular Translate
        </p>
        <p class="dimmed-75 center">
            Angular Local Storage
        </p>
        <p class="dimmed-75 center">
            Apache Cordova
        </p>
        <p class="dimmed-75 center">
            ngCordova
        </p>
        <p class="dimmed-75 center">
            PouchDB
        </p>
        <p class="dimmed-75 center">
            MomentJS
        </p>
        <p class="dimmed-75 center">
            NumeralJS
        </p>
        <p class="dimmed-75 center">
            ng-slide-down
        </p>
        <p class="dimmed-75 center">
            {{ 'SETTINGS.ATTRIBUTION_ICONBY' | translate}} Sonal Panchal
        </p>
        <p class="dimmed-75 center">
            cordova-plugin-globalization<br>
            cordova-plugin-inappbrowser<br>
            cordova-plugin-safariviewcontroller<br>
            cordova-plugin-splashscreen<br>
            cordova-plugin-x-socialsharing<br>
            ionic-plugin-keyboard<br>
            phonegap-plugin-barcodescanner
        </p>
        <ion-list>
            <ion-item class="item item-icon-right" href="#/tab/settings/attributions/mit">
                {{'SETTINGS.MIT_LICENSE' | translate}}
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right" href="#/tab/settings/attributions/apache">
                {{'SETTINGS.APACHE_LICENSE' | translate}}
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right" href="#/tab/settings/attributions/bsd">
                {{'SETTINGS.BSD_LICENSE' | translate}}
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
