<ion-view view-title="Problème/Commentaire">
    <ion-content has-bouncing="true">
        <ion-list>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('projects')">
                <h2>Onglet projets</h2>
                <p>Rapporter un problème étant arrivé dans l'onglet projets</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('refs')">
                <h2>Onglet référence</h2>
                <p>Rapporter un problème étant arrivé dans l'onglet référence</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('settings')">
                <h2>Paramètres</h2>
                <p>Rapporter un problème concernant les paramètres</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('comment')">
                <h2>Commentaire</h2>
                <p>Émettre un commentaire sur cette application</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('feature')">
                <h2>Fonctionalité</h2>
                <p>Proposer une nouvelle fonctionalité</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
