<ion-view view-title="Mode avancé">
    <ion-content has-bouncing="true"> <button ng-click="buy()" class="button button-full button-priced button-light">1,29 $</button>
        <p class="padding-top center"> Qu'attendez-vous pour essayer le mode avancé? Voici les fonctionalités incluses : </p>
        <ion-list>
            <ion-item class="item item-avatar" type="item-text-wrap"> <img src="img/barcode.png" alt="balayage" />
                <h2>Balayage</h2>
                <p class="wrap"> Balayez l'ISBN d'un livre pour voir sa source se créer automatiquement (certains livres ne sont pas supportés) </p>
            </ion-item>
            <ion-item class="item item-avatar" type="item-text-wrap"> <img src="img/models.png" alt="modèles" />
                <h2>Modèles</h2>
                <p class="wrap"> Utilisez des modèles préfaits au format DOCX dans vos travaux pour vous simplifier la vie </p>
            </ion-item>
            <ion-item class="item item-avatar avatar-notround" type="item-text-wrap"> <img src="img/share.png" alt="partage" />
                <h2>Partage avancé</h2>
                <p class="wrap"> Partagez un lien de Wikipédia à partir de Safari vers Metho pour créer une source automatiquement </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>