<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Nouvelle source</h1>
        <button class="button button-positive icon ion-ios-close-empty button-clear" ng-click="closeModal()">
        </button>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="submitSource()">
            <label class="item item-input item-select">
                <div class="input-label">
                    Type de source
                </div>
                <select ng-model="newsource.type">
                    <option selected value="">Livre</option>
                    <option>Article de périodique</option>
                    <option>Site Internet</option>
                    <option>Cédérom (CD-ROM)</option>
                    <option>Document audiovisuel</option>
                    <option>Entrevue</option>
                </select>
            </label>
            <button type="submit" class="button button-full button-dark center" ng-disabled="true">Créer la source</button>
        </form>
        <p ng-bind="err">

        </p>
    </ion-content>
</ion-modal-view>
