<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-positive button-clear" ng-click="closeModal()">{{'PROJECT.DETAIL.MODAL.CANCEL' | translate}}</button>
        <h1 class="title">{{'PROJECT.DETAIL.MODAL.TITLE' | translate}}</h1>
        <button class="button button-positive button-clear" ng-click="submitSource()">{{'PROJECT.DETAIL.MODAL.ADD' | translate}}</button>
    </ion-header-bar>
    <ion-content scrollbar-y="true" has-bouncing="true" ng-class="{ 'has-footer' : newsource.type == 'book' && isAdvanced }">
        <form ng-submit="submitSource()" ng-keyup="$event.keyCode == 13 && submitSource()">
            <!-- Livre -->
            <div ng-if="newsource.type == 'book'">
                <ion-list class="isolated">
                    <ion-radio ng-model="newsource.hasAuthors" ng-value="'13'">{{'PROJECT.DETAIL.MODAL.BOOK.AUTHOR_1TO3' | translate}}</ion-radio>
                    <ion-radio ng-model="newsource.hasAuthors" ng-value="'more3'">{{'PROJECT.DETAIL.MODAL.BOOK.AUTHOR_MORE_3' | translate}}</ion-radio>
                    <ion-radio ng-model="newsource.hasAuthors" ng-value="'collective'">{{'PROJECT.DETAIL.MODAL.BOOK.AUTHOR_COLLLECTIVE' | translate}}</ion-radio>
                </ion-list>
                <!-- La source a de 1 à 3 auteurs -->
                <div ng-slide-down="newsource.hasAuthors == '13'" lazy-render duration="0.5">
                    <div class="flex-sub padding">
                        <input type="text" ng-model="newsource.author1firstname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}">
                        <input type="text" ng-model="newsource.author1lastname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author1firstname != null && newsource.author1firstname != '') || (newsource.author1lastname != null && newsource.author1lastname != '')">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}" ng-model="newsource.author2firstname">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}" ng-model="newsource.author2lastname">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author2firstname != null && newsource.author2firstname != '') || (newsource.author2lastname != null && newsource.author2lastname != '')">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}" ng-model="newsource.author3firstname">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}" ng-model="newsource.author3lastname">
                    </div>
                </div>
                <!-- La source a plus de 3 auteurs -->
                <div ng-slide-down="newsource.hasAuthors == 'more3'" lazy-render duration="0.5"> <label class="item"><span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.FIRST_2_AUTHOR_NAME</span></label>
                    <div class="flex-sub padding">
                        <input type="text" ng-model="newsource.author1firstname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}">
                        <input type="text" ng-model="newsource.author1lastname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author1firstname != null && newsource.author1firstname != '') || (newsource.author1lastname != null && newsource.author1lastname != '')">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}" ng-model="newsource.author2firstname">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}" ng-model="newsource.author2lastname">
                    </div>
                </div>
                <!-- La source est un collectif -->
                <div ng-slide-down="newsource.hasAuthors == 'collective'" lazy-render duration="0.5"> <label class="item"><span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.DIRECTOR_NAMES</span></label>
                    <div class="flex-sub padding">
                        <input type="text" ng-model="newsource.author1firstname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}">
                        <input type="text" ng-model="newsource.author1lastname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author1firstname != null && newsource.author1firstname != '') || (newsource.author1lastname != null && newsource.author1lastname != '')">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}" ng-model="newsource.author2firstname">
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}" ng-model="newsource.author2lastname">
                    </div>
                </div>
                <!-- Autres champs -->
                <div class="list black-top">
                    <div class="item item-input item-stacked-label item-icon-right">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.TITLE_LABEL</span>
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.TITLE_PLACEHOLDER' | translate }}" ng-model="newsource.title" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1500, 'blur': 0}}">
                        <ion-spinner ng-if="loadingSuggestions" icon="ios-small" class="spinner-suggestions" ng-class="{ 'extra-padding-right': endSuggestionLoading }"></ion-spinner>
                        <button type="button" ng-if="endSuggestionLoading" class="icon ion-chevron-right button button-light button-small" ng-click="toggleShowSuggestion()" ng-class="{ 'rotate-90': showSuggestions }"></button>
                        <button type="button" ng-if="noSuggestion" class="icon ion-close-circled button button-light button-small" ng-click="openExplainingPopup()"></button>
                    </div>
                    <div ng-slide-down="showSuggestions">
                        <ion-scroll direction="y" ng-class="{'scroll-height-one': suggestions.length == 1, 'scroll-height-one-and-a-half': suggestions.length == 2, 'scroll-height-normal': suggestions.length > 2}">
                            <ion-list>
                                <ion-item ng-repeat="suggestion in suggestions track by $index" class="item item-icon-right item-icon-left" type="item-text-wrap" ng-click="fillWithInfos({{$index}})">
                                    <span class="icon ion-ios-bookmarks-outline"></span>
                                    {{suggestion.title}} <span ng-if="suggestion.author1lastname || suggestions.author1firstname">(<em>{{suggestion.author1firstname}} {{suggestion.author1lastname}}</em>)</span>                                        <span class="icon ion-ios-plus-outline"></span>
                                </ion-item>
                            </ion-list>
                        </ion-scroll>
                    </div>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.EDITOR_LABEL</span>
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.EDITOR_PLACEHOLDER' | translate }}" ng-model="newsource.editor">
                    </label>
                    <label class="item item-input item-stacked-label item-button-left">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_DATE_LABEL</span>
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_DATE_PLACEHOLDER' | translate }}" ng-model="newsource.publicationDate">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_LOCATION_LABEL</span>
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_LOCATION_PLACEHOLDER' | translate }}" ng-model="newsource.publicationLocation">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.PAGE_NUMBER_LABEL</span>
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.PAGE_NUMBER_PLACEHOLDER' | translate }}" ng-model="newsource.pageNumber">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label dimmed-75" translate>PROJECT.DETAIL.MODAL.BOOK.EDITION_NUMBER_LABEL</span>
                        <input type="number" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.EDITION_NUMBER_PLACEHOLDER' | translate }}" ng-model="newsource.editionNumber">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label dimmed-75" translate>PROJECT.DETAIL.MODAL.BOOK.VOLUME_NUMBER_LABEL</span>
                        <input type="number" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.VOLUME_NUMBER_PLACEHOLDER' | translate }}" ng-model="newsource.volumeNumber" min="1">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label dimmed-75" translate>PROJECT.DETAIL.MODAL.BOOK.COLLECTION_LABEL</span>
                        <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.COLLECTION_PLACEHOLDER' | translate }}" ng-model="newsource.collection">
                    </label>
                    <ion-checkbox ng-model="newsource.hasBeenTranslated">{{'PROJECT.DETAIL.MODAL.BOOK.HAS_BEEN_TRANSLATED' | translate}}</ion-checkbox>
                    <div ng-slide-down="newsource.hasBeenTranslated" lazy-render>
                        <label class="item item-input item-stacked-label">
                                <span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.ORIGIN_LANGUAGE_LABEL</span>
                                <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.ORIGIN_LANGUAGE_PLACEHOLDER' | translate }}" ng-model="newsource.translatedFrom">
                        </label>
                        <label class="item" ng-if="newsource.hasBeenTranslated">
                            <span class="input-label" translate>PROJECT.DETAIL.MODAL.BOOK.TRANSLATOR_NAME</span>
                        </label>
                        <div class="flex-sub padding">
                            <input type="text" ng-model="newsource.translator1firstname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}">
                            <input type="text" ng-model="newsource.translator1lastname" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}">
                        </div>
                        <div class="flex-sub padding" ng-if="(newsource.translator1firstname != null && newsource.translator1firstname != '') || (newsource.translator1lastname != null && newsource.translator1lastname != '')">
                            <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}" ng-model="newsource.translator2firstname">
                            <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}" ng-model="newsource.translator2lastname">
                        </div>
                        <div class="flex-sub padding" ng-if="(newsource.translator2firstname != null && newsource.translator2firstname != '') || (newsource.translator2lastname != null && newsource.translator2lastname != '')">
                            <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.FIRSTNAME' | translate }}" ng-model="newsource.translator3firstname">
                            <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.BOOK.LASTNAME' | translate }}" ng-model="newsource.translator3lastname">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Article -->
            <div ng-if="newsource.type == 'article'">
                <!-- Auteur -->
                <label class="item">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.ARTICLE.AUTHOR_NAME</span>
                </label>
                <div class="flex-sub padding">
                    <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.FIRSTNAME' | translate }}" ng-model="newsource.author1firstname">
                    <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.LASTNAME' | translate }}" ng-model="newsource.author1lastname">
                </div>
                <!-- Nom de l'article -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.ARTICLE.TITLE_LABEL</span>
                    <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.TITLE_PLACEHOLDER' | translate }}" ng-model="newsource.title">
                </label>
                <!-- Nom du périodique -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.ARTICLE.PERIODIC_LABEL</span>
                    <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.PERIODIC_PLACEHOLDER' | translate }}" ng-model="newsource.editor">
                </label>
                <!-- Numéro de l'édition, du volume ou du périodique -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.ARTICLE.EDITION_NUMBER_LABEL</span>
                    <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.EDITION_NUMBER_PLACEHOLDER' | translate }}" ng-model="newsource.editionNumber">
                </label>
                <!-- Date de publication -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.ARTICLE.PUBLICATION_DATE_LABEL</span>
                    <input type="text" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.PUBLICATION_DATE_PLACEHOLDER' | translate }}" ng-model="newsource.publicationDate">
                </label>
                <!-- Indication des pages de l'article -->
                <label class="item">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.ARTICLE.INDICATION_START_END_LABEL</span>
                </label>
                <div class="flex-sub padding">
                    <input type="number" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.INDICATION_START_PLACEHOLDER' | translate }}" ng-model="newsource.startPage" class="center">
                    <input type="number" placeholder="{{ 'PROJECT.DETAIL.MODAL.ARTICLE.INDICATION_END_PLACEHOLDER' | translate }}" ng-model="newsource.endPage" class="center">
                </div>
            </div>
            <!-- Site web -->
            <div ng-if="newsource.type == 'internet'">
                <ion-checkbox ng-model="newsource.hasAuthors">{{'PROJECT.DETAIL.MODAL.INTERNET.HAS_AUTHORS' | translate}}</ion-checkbox>
                <div ng-slide-down="newsource.hasAuthors" lazy-render>
                    <div class="flex-sub padding">
                        <input type="text" ng-model="newsource.author1firstname" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.FIRSTNAME' | translate}}">
                        <input type="text" ng-model="newsource.author1lastname" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.LASTNAME' | translate}}">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author1firstname != null && newsource.author1firstname != '') || (newsource.author1lastname != null && newsource.author1lastname != '')">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.FIRSTNAME' | translate}}" ng-model="newsource.author2firstname">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.LASTNAME' | translate}}" ng-model="newsource.author2lastname">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author2firstname != null && newsource.author2firstname != '') || (newsource.author2lastname != null && newsource.author2lastname != '')">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.FIRSTNAME' | translate}}" ng-model="newsource.author3firstname">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.LASTNAME' | translate}}" ng-model="newsource.author3lastname">
                    </div>
                </div>
                <!-- Titre de la page web -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERNET.WEBPAGE_NAME</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.WEBPAGE_NAME_PLACHOLDER' | translate}}" ng-model="newsource.title">
                </label>
                <!-- Nom du site web -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERNET.WEBSITE_NAME</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.WEBSITE_NAME_PLACEHOLDER' | translate}}" ng-model="newsource.editor">
                </label>
                <!-- URL -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERNET.URL</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.URL_PLACEHOLDER' | translate}}" ng-model="newsource.url">
                </label>
                <!-- Date de consultation -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERNET.CONSULTATION_DATE</span>
                    <input type="date" placeholder="{{'PROJECT.DETAIL.MODAL.INTERNET.CONSULTATION_DATE_PLACEHOLDER' | translate}}" ng-model="newsource.consultationDate">
                </label>
            </div>
            <!-- CD -->
            <div ng-if="newsource.type == 'cd'">
                <ion-checkbox ng-model="newsource.hasAuthors">{{'PROJECT.DETAIL.MODAL.CD.HAS_AUTHORS' | translate}}</ion-checkbox>
                <div ng-slide-down="newsource.hasAuthors" lazy-render>
                    <div class="flex-sub padding">
                        <input type="text" ng-model="newsource.author1firstname" placeholder="{{'PROJECT.DETAIL.MODAL.CD.FIRSTNAME' | translate}}">
                        <input type="text" ng-model="newsource.author1lastname" placeholder="{{'PROJECT.DETAIL.MODAL.CD.LASTNAME' | translate}}">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author1firstname != null && newsource.author1firstname != '') || (newsource.author1lastname != null && newsource.author1lastname != '')">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.FIRSTNAME' | translate}}" ng-model="newsource.author2firstname">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.LASTNAME' | translate}}" ng-model="newsource.author2lastname">
                    </div>
                    <div class="flex-sub padding" ng-if="(newsource.author2firstname != null && newsource.author2firstname != '') || (newsource.author2lastname != null && newsource.author2lastname != '')">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.FIRSTNAME' | translate}}" ng-model="newsource.author3firstname">
                        <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.LASTNAME' | translate}}" ng-model="newsource.author3lastname">
                    </div>
                </div>
                <!-- Titre -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.CD.DOC_TITLE</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.DOC_TITLE_PLACEHOLDER' | translate}}" ng-model="newsource.title">
                </label>
                <!-- Éditeur -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.CD.EDITOR</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.EDITOR_PLACEHOLDER' | translate}}" ng-model="newsource.editor">
                </label>
                <!-- Lieu de publication -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.CD.PUBLICATION_LOCATION</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.PUBLICATION_LOCATION_PLACEHOLDER' | translate}}" ng-model="newsource.publicationLocation">
                </label>
                <!-- Date de publication -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.CD.PUBLICATION_DATE</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.CD.PUBLICATION_DATE_PLACEHOLDER' | translate}}" ng-model="newsource.publicationDate">
                </label>
            </div>
            <!-- Vidéo -->
            <div ng-if="newsource.type == 'movie'">
                <ion-checkbox ng-model="newsource.hasAuthors">{{'PROJECT.DETAIL.MODAL.MOVIE.HAS_MORE_THAN_ONE' | translate}}</ion-checkbox>
                <p class="center no-margin" ng-slide-down="newsource.hasAuthors" lazy-render>{{'PROJECT.DETAIL.MODAL.MOVIE.HAS_MORE_THAN_ONE_TRUE' | translate}}</p>
                <div>
                    <label class="item">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.PRINCIPAL_AUTHOR</span>
                    </label>
                    <div class="flex-sub padding">
                        <input type="text" ng-model="newsource.author1firstname" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.FIRSTNAME' | translate}}">
                        <input type="text" ng-model="newsource.author1lastname" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.LASTNAME' | translate}}">
                    </div>
                </div>
                <!-- Nom de l'émission ou du document -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.DOC_NAME</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.DOC_NAME_PLACEHOLDER' | translate}}" ng-model="newsource.title">
                </label>
                <!-- Titre de l'épisode -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label dimmed-75" translate>PROJECT.DETAIL.MODAL.MOVIE.EPISODE_NAME</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.EPISODE_PLACEHOLDER' | translate}}" ng-model="newsource.episodeTitle">
                </label>
                <!-- Lieu de production -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.PUBLICATION_LOCATION</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.PUBLICATION_LOCATION_PLACEHOLDER' | translate}}" ng-model="newsource.productionLocation">
                </label>
                <!-- Producteur -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.PRODUCTOR</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.PRODUCTOR_PLACEHOLDER' | translate}}" ng-model="newsource.productor">
                </label>
                <!-- Diffuseur -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.BROADCASTER</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.BROADCASTER_PLACEHOLDER' | translate}}" ng-model="newsource.broadcaster">
                </label>
                <!-- Durée -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.LENGTH</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.LENGTH_PLACEHOLDER' | translate}}" ng-model="newsource.duration">
                </label>
                <!-- Date de publication -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.PUBLICATION_DATE</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.PUBLICATION_DATE_PLACEHOLDER' | translate}}" ng-model="newsource.publicationDate">
                </label>
                <!-- Support -->
                <label class="item item-select item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.SUPPORT_TYPE</span>
                    <select ng-model="newsource.support">
                        <option value="cd" translate>PROJECT.DETAIL.MODAL.MOVIE.SUPPORT_CD</option>
                        <option value="dvd" selected translate>PROJECT.DETAIL.MODAL.MOVIE.SUPPORT_DVD</option>
                        <option value="internet" translate>PROJECT.DETAIL.MODAL.MOVIE.SUPPORT_INTERNET</option>
                    </select>
                </label>
                <!-- Date de visionnement -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.MOVIE.CONSULTATION_DATE</span>
                    <input type="date" placeholder="{{'PROJECT.DETAIL.MODAL.MOVIE.CONSULTATION_DATE_PLACEHOLDER' | translate}}" ng-model="newsource.consultationDate">
                </label>
            </div>
            <!-- Entrevue -->
            <div ng-if="newsource.type == 'interview'">
                <!-- Nom de l'intervieweur -->
                <div>
                    <label class="item">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEWER_NAME</span>
                    </label>
                    <div class="flex-sub padding">
                        <input type="text" ng-model="newsource.author1firstname" placeholder="{{'PROJECT.DETAIL.MODAL.INTERVIEW.FIRSTNAME' | translate}}">
                        <input type="text" ng-model="newsource.author1lastname" placeholder="{{'PROJECT.DETAIL.MODAL.INTERVIEW.LASTNAME' | translate}}">
                    </div>
                </div>
                <!-- Nom de la personne rencontrée -->
                <div class="isolated">
                    <label class="item">
                        <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEWED_NAME</span>
                    </label>
                    <div class="flex-sub padding">
                        <select ng-model="newsource.civility" class="select-style">
                            <option value="mister" translate>PROJECT.DETAIL.MODAL.INTERVIEW.CIVILITY_MISTER</option>
                            <option value="miss" selected translate>PROJECT.DETAIL.MODAL.INTERVIEW.CIVILITY_MISS</option>
                            <option value="miss_young" translate>PROJECT.DETAIL.MODAL.INTERVIEW.CIVILITY_MISS_YOUNG</option>
                        </select>
                        <input type="text" ng-model="newsource.interviewed1firstname" placeholder="{{'PROJECT.DETAIL.MODAL.INTERVIEW.FIRSTNAME' | translate}}">
                        <input type="text" ng-model="newsource.interviewed1lastname" placeholder="{{'PROJECT.DETAIL.MODAL.INTERVIEW.LASTNAME' | translate}}">
                    </div>
                </div>
                <!-- Titre de la personne -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEWED_TITLE</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEWED_TITLE_PLACEHOLDER' | translate}}" ng-model="newsource.interviewedTitle">
                </label>
                <!-- Lieu de l'entrevue -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEW_LOCATION</span>
                    <input type="text" placeholder="{{'PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEW_LOCATION_PLACEHOLDER' | translate}}" ng-model="newsource.publicationLocation">
                </label>
                <!-- Date de l'entrevue -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEW_DATE</span>
                    <input type="date" placeholder="{{'PROJECT.DETAIL.MODAL.INTERVIEW.INTERVIEW_DATE_PLACEHOLDER' | translate}}" ng-model="newsource.consultationDate">
                </label>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-positive no-padding" ng-if="newsource.type == 'book' && isAdvanced">
        <button class="button button-full footer-button-custom icon-left ion-qr-scanner" on-tap="scanBook()" ng-disabled="currentlyScanning">{{'PROJECT.DETAIL.MODAL.SCAN' | translate}}</button>
    </ion-footer-bar>
</ion-modal-view>
