<ion-view view-title="Éléments en attente">
    <ion-content ng-class="{ 'padding flex' : !pendings.length }">
        <!-- List of sources -->
        <ion-list>
            <ion-item ng-repeat="pending in pendings" class="item item-icon-right" type="item-text-wrap" ng-click="downloadDetails('{{pending.isbn}}', '{{pending._id}}')">
                <h2 class="normal">{{pending.isbn}}</h2>
                <p>{{pending.date}}</p> <i class="icon ion-ios-cloud-download-outline" ng-if="!pending.not_available"></i> <i class="icon ion-ios-close-outline" ng-if="pending.not_available"></i>
                <ion-option-button class="button-assertive" ng-click="deletePending('{{pending._id}}')">Supprimer</ion-option-button>
            </ion-item>
        </ion-list>
        <!-- When there are no sources -->
        <p class="center dimmed-50" ng-if="!pendings.length && !loading"> Aucune source en attente ! </p>
    </ion-content>
</ion-view>
