<ion-view view-title="{{project.name}}" id="bind-html-with-trust">
    <ion-nav-buttons side="right">
      <button class="button button-clear button-positive icon ion-ios-plus-empty" ng-click="addSource()"></button>
      <button class="button button-clear button-positive icon ion-ios-upload-outline" ng-click="share()"></button>
    </ion-nav-buttons>
    <ion-content ng-class="{ 'padding flex' : !project.sources.length }">
        <!-- List of sources -->
        <ion-list>
            <ion-item ng-repeat="source in project.sources" href="#/tab/projects/{{project.id}}/{{source._id}}" class="item item-icon-right item-remove-animate" type="item-text-wrap">
                <h2 ng-bind-html="source.parsedSource" ng-if="!source.title" class="limited-width"></h2>
                <h2 ng-if="source.title" class="limited-width">{{source.title}}</h2>
                <p>{{source.parsedType}}</p>
                <div class="icon">
                    <span class="error-nb" ng-if="source.warnings.length">{{source.warnings.length}}</span>
                    <span class=" ion-alert-circled icon-accessory yellow" ng-if="source.warnings.length"></span>
                    &nbsp;
                    <span class="error-nb" ng-if="source.errors.length">{{source.errors.length}}</span>
                    <span class=" ion-android-alert icon-accessory red" ng-if="source.errors.length"></span>
                    &nbsp;
                    <span class=" ion-chevron-right icon-accessory"></span>
                </div>
                <ion-option-button class="button-assertive" ng-click="deleteSource('{{source._id}}')">Supprimer</ion-option-button>
            </ion-item>
        </ion-list>

        <!-- When there are no sources -->
        <button class="button ion-ios-plus-empty icon button-positive button-outline" class="centered" ng-if="!project.sources.length && !loading" ng-click="addSource()">
        </button><br ng-if="!project.sources.length && !loading">
        <p class="center dimmed-50" ng-if="!project.sources.length && !loading">
            Qu'est-ce qu'un projet sans sources ?
        </p>

        <!-- Loading -->
        <div class="spinner" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>
    </ion-content>
</ion-view>
