<ion-view view-title="Paramètres">
  <ion-content scrollbar-y="true" has-bouncing="true">
    <ion-list>
    <ion-toggle  ng-model="settings.advanced" ng-change="changeSettings('advanced')">
        Mode avancé
    </ion-toggle>
    </ion-list>
    <p class="padding center">
        Adapté à partir du <em>Guide de Méthodologie</em> de l'École d'éducation internationale de McMasterville écrit par Raymond Bédard.
    </p>
    <p class="padding center dimmed-50">
        &copy; 2016 Francis Clavette
    </p>
  </ion-content>
</ion-view>
