<ion-view view-title="{{ 'PROJECT.TAB.TAB_TITLE' | translate }}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive icon ion-ios-plus-empty" ng-click="newProject()"></button>
    </ion-nav-buttons>
    <ion-content scrollbar-y="true" has-bouncing="true" class="full-height">
        <!-- When there is no elements -->
        <div class="padding flex" ng-if="!projects.length && !loading">
            <button class="button ion-ios-plus-empty icon button-positive button-outline" class="centered" ng-click="newProject()">
            </button><br>
            <p class="center dimmed-50" translate>PROJECT.TAB.EMPTY_TAB</p>
        </div>
        <!-- When there is -->
        <ion-list ng-if="projects.length">
            <ion-item ng-repeat="project in projects" class="item-icon-right" type="item-text-wrap" ng-class="{'item-remove-animate': removeAnimate}" ng-click="openProjectDetail('{{project.id}}')">
                <h2>{{project.name}}</h1>
                <p>{{project.matter}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-positive" ng-click="editProject('{{project.id}}')" translate>PROJECT.TAB.EDIT_ITEM</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteProject('{{project.id}}')" translate>PROJECT.TAB.DELETE_ITEM</ion-option-button>
            </ion-item>
        </ion-list>

        <!-- Loading -->
        <div class="flex spinner" ng-if="loading">
            <ion-spinner></ion-spinner>
        </div>
    </ion-content>
</ion-view>
