<ion-view view-title="{{ 'SETTINGS.TAB_TITLE' | translate }}">
    <ion-content scrollbar-y="true" has-bouncing="true">
        <ion-list>
            <label class="item item-stacked-label">
                <span class="input-label"><b translate>SETTINGS.ORDER_BY</b></span>
            </label>
            <ion-list>
                <ion-radio ng-model="settings.defaultOrder" ng-value="'alpha'" ng-change="changeSettings('defaultOrder')">{{ 'SETTINGS.ALPHABETICAL' | translate }}</ion-radio>
                <ion-radio ng-model="settings.defaultOrder" ng-value="'type'" ng-change="changeSettings('defaultOrder')">{{ 'SETTINGS.TYPE' | translate }}</ion-radio>
            </ion-list>
            <ion-toggle ng-model="settings.askForOrder" ng-change="changeSettings('askForOrder')" class="smaller">{{'SETTINGS.ASK_FOR_ORDER' | translate }}</ion-toggle>
            <ion-toggle ng-model="settings.advanced" ng-change="changeSettings('advanced')">
                {{ 'SETTINGS.ADVANCED_MODE_LABEL' | translate }} &nbsp;
                <a href="#/tab/settings/infos-advanced" class="link-beautiful">{{ 'SETTINGS.LEARN_MORE' | translate }}</a>
            </ion-toggle>
            <ion-item class="item item-remove-animate" ng-if="settings.firstName != ''">
                {{'SETTINGS.YOUR_NAME' | translate}}
                <span class="item-note">
                    {{settings.firstName + " " + settings.lastName}}
                </span>
                <ion-option-button class="button-positive" ng-click="editName()">{{ 'SETTINGS.EDIT' | translate }}</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteName()">{{ 'SETTINGS.FORGET' | translate }}</ion-option-button>
            </ion-item>
            <label class="item item-input item-select">
                <div class="input-label">
                    {{ 'SETTINGS.LANGUAGE' | translate }}
                </div>
                <select ng-model="settings.overideLang" ng-change="changeLanguage()">
                    <option value="">{{ 'SETTINGS.DEFAULT' | translate }}</option>
                    <option value="fr">{{ 'SETTINGS.FRENCH' | translate }}</option>
                    <option value="en">{{ 'SETTINGS.ENGLISH' | translate }}</option>
                    <option value="es">{{ 'SETTINGS.SPANISH' | translate }}</option>
                </select>
            </label>
            <ion-item class="item item-icon-right" href="#/tab/settings/attributions">
                <h2 translate>SETTINGS.ATTRIBUTION_TAB</h2>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item href="#/tab/settings/feedback" class="item item-icon-right" type="item-text-wrap">
                <h2 translate>SETTINGS.BUG_COMMENT</h2>
                <p translate>SETTINGS.BUG_COMMENT_LONG</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
        </ion-list>
        <p class="padding center" translate>SETTINGS.ATTRIBUTIONS</p>
        <p class="padding center dimmed-50"> &copy; 2016 Francis Clavette </p>
    </ion-content>
</ion-view>
