<p>Il arrive qu'une même source soit citée une deuxième fois ou plus; on emploie alors certaines abréviations qui permettent de ne pas réécrire la description bibliographique complète. Ce sont : </p>
<p class='padding-top'><strong>Ibid.</strong> est l'abréviation du latin <em>ibidem</em> qui signifie «au même endroit». Cette abréviation désigne l'ouvrage déjà identifié dans la référence précédente. On indique alors seulement l'abréviation <em>ibid.</em> et le numéro de
    la page correspondante.</p>
<p class='left-aligned'>Exemple : <em>Ibid.</em>, p. 23.</p>
<p class='padding-top'><strong>Op. cit.</strong> est l'abréviation du latin <em>Opere citato</em> qui signifie «oeuvre déjà citée». Cette abréviation, précédée du nom de l'auteur, désigne un ouvrage déjà identifié mais non consécutive.</p>
<p class='left-aligned'>Exemple : GREER, A., <em>op. cit.</em>, p. 37.</p>
<p class='padding-top'><strong>Loc. cit.</strong> est l'abréviation du latin «au lieu cité». Cette abréviation s'utilise comme l'<em>op. cit.</em>, mais lorsque qu'il s'agit d'articles de périodiques.</p>
<p class='left-aligned'>Exemple : TRUDEL, M., <em>op. cit.</em>, p. 35.</p>