<ion-navbar *navbar>
  <ion-title>
    <div class="page-title"> {{project.name}} </div>
    <div class="page-sub-title"> {{project.matter ? project.matter : ('PROJECT.TAB.UNKNOWN_MATTER' | translate)}} </div>
  </ion-title>
  <ion-buttons end>
    <button (click)="share()">
      <ion-icon name="share" isActive="false"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="sources">
  <ion-list *ngIf="sources.length">
    <ion-item-sliding *ngFor="let source of sources">
      <button ion-item (click)="openSourcePage(source)">
        <h2 [innerHtml]="source.title ? source.title : source.parsedSource"></h2>
        <p>{{ source.parsedType }}</p>
        <div *ngIf="source.warnings.length" item-right>
          <span>{{ source.warnings.length }}</span>
          <ion-icon name="warning" class="yellow"></ion-icon>
        </div>
        <div *ngIf="source.errors.length" item-right class="icons">
          <span>{{ source.errors.length }}</span>
          <ion-icon name="alert" class="red"></ion-icon>
        </div>
      </button>

      <ion-item-options>
        <button danger (click)="deleteSource(source)">
          {{'PROJECT.DETAIL.DELETE_ITEM' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="flex" *ngIf="!sources.length">
    <button outline (click)="createSource()">
      <ion-icon name="add"></ion-icon>
    </button><br>
    <p class="center dimmed-50">
      {{'PROJECT.DETAIL.EMPTY_TAB' | translate}}
    </p>
  </div>

</ion-content>
<ion-toolbar position="bottom" class="sources">
  <button clear default (click)="createSource()">
    <ion-icon name="add"></ion-icon>
  </button>
  <ion-title>
    <button (click)="openPendingPage()" clear dark full>
      {{'PROJECT.DETAIL.PENDING_ELEMENTS' | translate:'{number:'+ pendingNumber + '}'}}
    </button>
  </ion-title>
</ion-toolbar>
