<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="page-title"> {{project.name}} </div>
      <div class="page-sub-title"> {{project.matter ? project.matter : ('PROJECT.TAB.UNKNOWN_MATTER' | translate)}} </div>
    </ion-title>
    <ion-buttons end>
      <button (click)="share()" [disabled]="!sources.length">
        <ion-icon name="share" isActive="false"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="sources">
  <ion-searchbar *ngIf="sources.length" [(ngModel)]="searchQuery" (ionInput)="updateSearch($event)" (ionCancel)="updateSearch($event)" cancelButtonText="{{'PROJECT.DETAIL.MODAL.CANCEL' | translate}}" showCancelButton="true" placeholder="{{'PROJECT.DETAIL.SEARCH' | translate}}"></ion-searchbar>
  <button ion-item light (click)="openPendingPage()" class="center" *ngIf="pendingNumber > 0 && searchQuery == ''">
    {{'PROJECT.DETAIL.PENDING_ELEMENTS' | translate}}
    <ion-badge item-right>{{ pendingNumber }}</ion-badge>
  </button>
  <ion-list *ngIf="sources.length">
    <ion-item-sliding *ngFor="let source of filteredSources">
      <button ion-item (click)="openSourcePage(source)">
        <h2 [innerHtml]="source.title ? source.title : source.parsedSource"></h2>
        <p>{{ source.parsedType }}</p>
        <div *ngIf="source.warnings.length" item-right>
          <span>{{ source.warnings.length }}</span>
          <ion-icon name="warning" class="yellow"></ion-icon>
        </div>
        <div *ngIf="source.errors.length" item-right class="icons">
          <span>{{ source.errors.length }}</span>
          <ion-icon name="alert" class="red"></ion-icon>
        </div>
      </button>

      <ion-item-options>
        <button default (click)="editSource(source)">
          {{'COMMON.EDIT' | translate}}
        </button>
        <button danger (click)="deleteSource(source)">
          {{'COMMON.DELETE' | translate}}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="flex-full" *ngIf="!sources.length">
    <ion-icon name="filing" isActive="false" class="biggest"></ion-icon>
    <p class="center dimmed-50">
      {{'PROJECT.DETAIL.EMPTY_TAB' | translate}}
    </p>
  </div>

  <div class="flex" padding *ngIf="sources.length && !filteredSources.length">
    <ion-icon name="close-circle" isActive="false" class="big"></ion-icon>
    <p class="center dimmed-50">
      {{'PROJECT.DETAIL.EMPTY_SEARCH' | translate}}
    </p>
  </div>

  <ion-fixed class="fixed-div">
    <button fab fab-right fab-bottom (click)="createSource()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fixed>
</ion-content>
