<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button clear default (click)="dismiss()">{{'PROJECT.SOURCE.MODAL.CANCEL' | translate}}</button>
    </ion-buttons>
    <ion-title>{{(isNew ? 'PROJECT.DETAIL.MODAL.TITLE' : 'PROJECT.SOURCE.MODAL.TITLE') | translate}}</ion-title>
    <ion-buttons end>
      <button clear default (click)="confirm()">{{(isNew ? 'PROJECT.DETAIL.MODAL.ADD' : 'PROJECT.SOURCE.MODAL.CONFIRM') | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="source-modal-cd">
  <form [formGroup]="form" (keypress)="submitIfEnter($event)">
    <ion-list>
      <ion-item>
        <ion-label>{{'PROJECT.DETAIL.MODAL.CD.HAS_AUTHORS' | translate}}</ion-label>
        <ion-checkbox formControlName="hasAuthors"></ion-checkbox>
      </ion-item>
      <div *ngIf="form.find('hasAuthors').value == true" class="authors">
        <ion-item>
          <ion-input type="text" formControlName="author1firstname" placeholder="{{ 'PROJECT.DETAIL.MODAL.CD.FIRSTNAME' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="author1lastname" placeholder="{{ 'PROJECT.DETAIL.MODAL.CD.LASTNAME' | translate }}"></ion-input>
        </ion-item>
        <div *ngIf="form.find('author1firstname').value || form.find('author1lastname').value" class="inputs">
          <ion-item>
            <ion-input type="text" formControlName="author2firstname" placeholder="{{ 'PROJECT.DETAIL.MODAL.CD.FIRSTNAME' | translate }}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" formControlName="author2lastname" placeholder="{{ 'PROJECT.DETAIL.MODAL.CD.LASTNAME' | translate }}"></ion-input>
          </ion-item>
        </div>
      </div>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.CD.DOC_TITLE' | translate}}</ion-label>
        <ion-input formControlName="title" placeholder="{{'PROJECT.DETAIL.MODAL.CD.DOC_TITLE_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.CD.EDITOR' | translate}}</ion-label>
        <ion-input formControlName="editor" placeholder="{{'PROJECT.DETAIL.MODAL.CD.EDITOR_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.CD.PUBLICATION_LOCATION' | translate}}</ion-label>
        <ion-input formControlName="publicationLocation" placeholder="{{'PROJECT.DETAIL.MODAL.CD.PUBLICATION_LOCATION_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.CD.PUBLICATION_DATE' | translate}}</ion-label>
        <ion-input formControlName="publicationDate" placeholder="{{'PROJECT.DETAIL.MODAL.CD.PUBLICATION_DATE_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
