.advanced-mode {
    .dollar {
        font-size: 0.9em;
    }

    .button-dollar {
        height: auto !important;
        font-size: 72px;
        margin: 0 !important;
        padding: 0;
        min-height: 144px;
    }

    .wrap {
        white-space: normal;
    }
}
