# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/ios/www/*
platforms/ios/Metho/config.xml
.DS_Store
.bowerrc
.editorconfig
bower.json
www/.tern-project
www/**/tags
www/.tags
www/.tags1
