<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <button class="button button-positive button-clear" ng-click="closeEditModal()">{{'PROJECT.TAB.MODAL_EDIT.CANCEL' | translate}}</button>
        <h1 class="title">{{'PROJECT.TAB.MODAL_EDIT.TITLE' | translate}}</h1>
        <button class="button button-positive button-clear" ng-click="submitEditProject()">{{'PROJECT.TAB.MODAL_EDIT.CONFIRM' | translate}}</button>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="submitEditProject()" ng-keyup="$event.keyCode == 13 && submitEditProject()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate>PROJECT.TAB.MODAL_EDIT.PROJECT_NAME_LABEL</span>
                    <input type="text" placeholder="{{'PROJECT.TAB.MODAL_EDIT.PROJECT_NAME_PLACEHOLDER' | translate}}" ng-model="editingProject.name" ng-readonly="false">
                </label>
                <label class="item item-input item-stacked-label" ng-class="{ 'red-border':errorName }">
                    <span class="input-label" translate>PROJECT.TAB.MODAL_EDIT.MATTER_LABEL</span>
                    <input type="text" placeholder="{{'PROJECT.TAB.MODAL_EDIT.MATTER_PLACEHOLDER' | translate}}" ng-model="editingProject.matter" ng-readonly="false">
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
