<ion-view view-title="{{'SETTINGS.FEEDBACK.TITLE' | translate}}">
    <ion-content has-bouncing="true">
        <ion-list>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('projects')">
                <h2 translate>SETTINGS.FEEDBACK.TAB_PROJECT</h2>
                <p translate>SETTINGS.FEEDBACK.TAB_PROJECT_DESC</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('refs')">
                <h2 translate>SETTINGS.FEEDBACK.TAB_REFERENCE</h2>
                <p translate>SETTINGS.FEEDBACK.TAB_REFERENCE_DESC</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('settings')">
                <h2 translate>SETTINGS.FEEDBACK.SETTINGS</h2>
                <p translate>SETTINGS.FEEDBACK.SETTINGS_DESC</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('comment')">
                <h2 translate>SETTINGS.FEEDBACK.COMMENT</h2>
                <p translate>SETTINGS.FEEDBACK.COMMENT_DESC</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
            <ion-item class="item item-icon-right item-remove-animate" type="item-text-wrap" ng-click="newFeedback('feature')">
                <h2 translate>SETTINGS.FEEDBACK.FEATURE</h2>
                <p translate>SETTINGS.FEEDBACK.FEATURE_DESC</p>
                <span class="icon ion-chevron-right icon-accessory"></span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
