<ion-header>
  <ion-navbar>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="references-detail">
  <div padding *ngIf="text" [innerHtml]="text"></div>

  <ion-list>
    <div *ngFor="let entry of entries">
      <button ion-item *ngIf="entry.text" (click)="goToReferenceSubPage(entry.id)">
        <h2>{{ entry.name }}</h2>
      </button>
      <ion-item *ngIf="!entry.text">
        <h2>{{ entry.name }}</h2>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
