.settings {
    .link-beautiful {
        text-decoration: none;
        color: #387ef5;
        display: inline-block;
        white-space: nowrap;
    }

    .no-margin-bottom {
        margin-bottom: 0;
    }

    .dimmed-50 {
        color: rgba(0, 0, 0, 0.5);
    }

    button p {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
