source-modal-article {
    .no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    .border-bottom {
        border-bottom: 1px;
        border-bottom-color: #c8c7cc;
        border-bottom-style: solid;
    }
}
