<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button clear (click)="dismiss()">{{"COMMON.CANCEL" | translate}}</button>
    </ion-buttons>
    <ion-title>{{(isNew ? 'PROJECT.DETAIL.MODAL.TITLE' : 'PROJECT.SOURCE.MODAL.TITLE') | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="confirm()">{{(isNew ? "COMMON.CREATE" : "COMMON.EDIT") | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (keypress)="submitIfEnter($event)">
    <ion-list radio-group formControlName="hasAuthors" class="no-margin-bottom">
      <ion-list-header>
        {{'PROJECT.DETAIL.MODAL.BOOK.AUTHOR_NUMBER' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label>{{'PROJECT.DETAIL.MODAL.BOOK.AUTHOR_1TO3' | translate}}</ion-label>
        <ion-radio value="13"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'PROJECT.DETAIL.MODAL.BOOK.AUTHOR_MORE_3' | translate}}</ion-label>
        <ion-radio value="more3"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'PROJECT.DETAIL.MODAL.BOOK.AUTHOR_COLLLECTIVE' | translate}}</ion-label>
        <ion-radio value="collective"></ion-radio>
      </ion-item>
    </ion-list>
    <!-- La source a de 1 à 3 auteurs -->
    <ion-list *ngIf="form.value.hasAuthors == '13'" class="no-margin authors" no-lines>
      <ion-item>
        <ion-input formControlName="author1firstname" placeholder="{{ 'COMMON.FIRSTNAME' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="author1lastname" placeholder="{{ 'COMMON.LASTNAME' | translate }}"></ion-input>
      </ion-item>
      <div *ngIf="form.value.author1firstname || form.value.author1lastname" class="inputs">
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.FIRSTNAME' | translate }}" formControlName="author2firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.LASTNAME' | translate }}" formControlName="author2lastname"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="form.value.author2firstname || form.value.author2lastname" class="inputs">
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.FIRSTNAME' | translate }}" formControlName="author3firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.LASTNAME' | translate }}" formControlName="author3lastname"></ion-input>
        </ion-item>
      </div>
    </ion-list>
    <!-- La source a plus de 3 auteurs -->
    <ion-list *ngIf="form.value.hasAuthors == 'more3'" class="no-margin-with-header authors" no-lines>
      <ion-list-header>
        {{'PROJECT.DETAIL.MODAL.BOOK.FIRST_2_AUTHOR_NAME' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-input formControlName="author1firstname" placeholder="{{ 'COMMON.FIRSTNAME' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="author1lastname" placeholder="{{ 'COMMON.LASTNAME' | translate }}"></ion-input>
      </ion-item>
      <div *ngIf="form.value.author1firstname || form.value.author1lastname" class="inputs">
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.FIRSTNAME' | translate }}" formControlName="author2firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.LASTNAME' | translate }}" formControlName="author2lastname"></ion-input>
        </ion-item>
      </div>
    </ion-list>
    <!-- La source est un collectif -->
    <ion-list *ngIf="form.value.hasAuthors == 'collective'" class="no-margin-with-header authors" no-lines>
      <ion-list-header>
        {{'PROJECT.DETAIL.MODAL.BOOK.DIRECTOR_NAMES' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-input formControlName="author1firstname" placeholder="{{ 'COMMON.FIRSTNAME' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="author1lastname" placeholder="{{ 'COMMON.LASTNAME' | translate }}"></ion-input>
      </ion-item>
      <div *ngIf="form.value.author1firstname || form.value.author1lastname" class="inputs">
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.FIRSTNAME' | translate }}" formControlName="author2firstname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="{{ 'COMMON.LASTNAME' | translate }}" formControlName="author2lastname"></ion-input>
        </ion-item>
      </div>
    </ion-list>

    <!-- Autres champs -->
    <ion-list class="no-margin">
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.TITLE_LABEL' | translate}}</ion-label>
        <ion-input formControlName="title" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.TITLE_PLACEHOLDER' | translate}}" (input)="search()"></ion-input>
        <ion-spinner *ngIf="instantStatus.loading" name="ios-small" class="spinner-suggestions" item-right></ion-spinner>
        <button ion-button *ngIf="instantStatus.ok" (click)="toggleInstantSearch()" [class.rotate-90]="instantStatus.shown" class="will-90" color="dark" clear item-right icon-only>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
        <button ion-button *ngIf="instantStatus.none" (click)="openExplaining()" color="dark" clear item-right icon-only>
          <ion-icon name="close-circle"></ion-icon>
        </button>
        <button ion-button *ngIf="instantStatus.err500" (click)="openExplaining()" clear color="dark" item-right icon-only>
          <ion-icon name="alert"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="instantStatus.shown">
        <ion-scroll scrollY="true" [class.height-one]="instantList.length == 1" [class.height-one-and-half]="instantList.length == 2" [class.height-two-and-half]="instantList.length > 2">
          <ion-list class="no-margin">
            <button ion-item *ngFor="let suggestion of instantList" (click)="fillInfos(suggestion)">
              <ion-icon name="bookmarks-outline" item-left></ion-icon>
              {{ suggestion.title }}
              <span *ngIf="suggestion.author1lastname && suggestion.author1firstname">(<em>{{suggestion.author1firstname}} {{suggestion.author1lastname}}</em>)</span>
            </button>
          </ion-list>
        </ion-scroll>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.EDITOR_LABEL' | translate}}</ion-label>
        <ion-input formControlName="editor" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.EDITOR_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_DATE_LABEL' | translate}}</ion-label>
        <ion-input formControlName="publicationDate" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_DATE_PLACEHOLDER' | translate}}" pattern="[0-9]*"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_LOCATION_LABEL' | translate}}</ion-label>
        <ion-input formControlName="publicationLocation" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.PUBLICATION_LOCATION_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.PAGE_NUMBER_LABEL' | translate}}</ion-label>
        <ion-input type="number" formControlName="pageNumber" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.PAGE_NUMBER_PLACEHOLDER' | translate}}" pattern="[0-9]*"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.EDITION_NUMBER_LABEL' | translate}}</ion-label>
        <ion-input formControlName="editionNumber" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.EDITION_NUMBER_PLACEHOLDER' | translate}}" pattern="[0-9]*"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.VOLUME_NUMBER_LABEL' | translate}}</ion-label>
        <ion-input formControlName="volumeNumber" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.VOLUME_NUMBER_PLACEHOLDER' | translate}}" pattern="[0-9]*"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.COLLECTION_LABEL' | translate}}</ion-label>
        <ion-input formControlName="collection" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.COLLECTION_PLACEHOLDER' | translate}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'PROJECT.DETAIL.MODAL.BOOK.HAS_BEEN_TRANSLATED' | translate}}</ion-label>
        <ion-checkbox formControlName="hasBeenTranslated"></ion-checkbox>
      </ion-item>
      <ion-list *ngIf="form.value.hasBeenTranslated == true" class="no-margin">
          <ion-item>
            <ion-label stacked>{{'PROJECT.DETAIL.MODAL.BOOK.ORIGIN_LANGUAGE_LABEL' | translate}}</ion-label>
            <ion-input formControlName="translatedFrom" placeholder="{{'PROJECT.DETAIL.MODAL.BOOK.ORIGIN_LANGUAGE_PLACEHOLDER' | translate}}"></ion-input>
          </ion-item>
          <ion-list class="no-margin-with-header" no-lines>
            <ion-list-header>
              {{'PROJECT.DETAIL.MODAL.BOOK.TRANSLATOR_NAME' | translate}}
            </ion-list-header>
            <ion-item>
              <ion-input formControlName="translator1firstname" placeholder="{{ 'COMMON.FIRSTNAME' | translate }}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="translator1lastname" placeholder="{{ 'COMMON.LASTNAME' | translate }}"></ion-input>
            </ion-item>
            <div *ngIf="form.value.translator1firstname != '' || form.value.translator1lastname != ''" class="inputs">
              <ion-item>
                <ion-input placeholder="{{ 'COMMON.FIRSTNAME' | translate }}" formControlName="translator2firstname"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input placeholder="{{ 'COMMON.LASTNAME' | translate }}" formControlName="translator2lastname"></ion-input>
              </ion-item>
            </div>
          </ion-list>
      </ion-list>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar default *ngIf="(isAdvanced && !hideScan) || showBrowser" class="no-padding">
    <button ion-button (click)="scan()" full *ngIf="!hideScan && !showBrowser" icon-left>
      <ion-icon name="qr-scanner" class="left-aligned"></ion-icon>
      {{'PROJECT.DETAIL.MODAL.SCAN' | translate}}
    </button>
    <button ion-button (click)="browser()" full *ngIf="showBrowser" icon-left>
      <ion-icon name="browsers" class="left-aligned"></ion-icon>
      {{'PROJECT.DETAIL.MODAL.BROWSER' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>
