.center {
  text-align: center;
}

.justified {
  text-align: justify;
}

.dimmed-50 {
  color: transparentize($text-color, 0.5);
}

.dimmed-75 {
  color: transparentize($text-color, 0.4);
}

em {
  font-style: italic;
}

input[placeholder] {
  text-overflow: ellipsis;
}

.toolbar-title {
  .page-title {
    color: $text-color;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }

  .page-sub-title {
    color: transparentize($text-color, 0.4) !important;
    font-size: 0.75em !important;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }
}

.ios ion-action-sheet {
  .action-sheet-button[icon-left] {
    position: relative;

    ion-icon {
      position: absolute;
      left: 10px;
      top: 15px;
    }
  }
}

.md {
  // Fix positioning of button for scanning
  source-modal-book .toolbar.no-padding > .toolbar-content {
    height: 56px;

    button {
      height: 56px;

      .left-aligned {
        top: 18px;
      }
    }
  }
}
