.source-modal-interview {
    .no-margin-bottom {
        margin-bottom: 0;
    }

    .no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    .no-margin-with-header {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .padding ion-input {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &.no-padding {
        padding: 0;

        button {
            margin: 0;
        }
    }

    .left-aligned {
        position: absolute;
        left: 10px;
        top: 15px;
    }

    .will-90 ion-icon {
        padding: 5px;
        transition: transform 0.5s ease;
    }

    .rotate-90 ion-icon {
        transform: rotate(90deg);
    }

    .height-one {
        height: 45px;
    }

    .height-one-and-half {
        height: 68px;
    }

    .height-two-and-half {
        height: 113px;
    }

    ion-range {
        padding-top: 0;

    }
    .item-range ion-label, .item-datetime ion-label {
        color: #7f7f7f;
    }

    .authors {
        border-bottom: 1px;
        border-bottom-color: #c8c7cc;
        border-bottom-style: solid;

        & > .item-inner {
            border-width: 0 !important;
        }
    }
}
