source-modal-internet {
    .item-datetime ion-label {
        color: #7f7f7f;
    }

    .authors {
        border-bottom: 1px;
        border-bottom-color: #c8c7cc;
        border-bottom-style: solid;
    }
}
