.references-sub {
    .diag-fract {
        font-size: 0.83em;
        vertical-align: super;
    }

    @supports (font-variant-numeric: diagonal-fractions) {
        .diag-fract {
            font-variant-numeric: diagonal-fractions;
            font-size: 1em;
            vertical-align: baseline;
        }
    }
}
