.pendings {
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        flex-direction: column;
    }

    .green {
        color: green;
    }

    .red {
        color: #db183d;
    }
}
