/* Empty. Add your own CSS if you like */
.center
{
    text-align: center;
}

.dimmed-50
{
    color: rgba(0, 0, 0, 0.5);
}

.dimmed-75
{
    color: rgba(0, 0, 0, 0.6);
}

em {
    font-style: italic;
}

.item-avatar .item-content > img:first-child
{
    border-radius: 0 !important;
}

.justify p {
    text-align: justify;
}

.diag-fract {
    font-size: .83em;
    vertical-align: super;
}

@supports (font-variant-numeric: diagonal-fractions) {
    .diag-fract {
        font-variant-numeric: diagonal-fractions;
        font-size: 1em;
        vertical-align: baseline;
    }
}

ul li::before{
    content: " \2022  ";
}

ul.ulvl2 {
    padding-left: 20px;
    list-style-type: square;
}

ul.ulvl2 li::before {
    content: " ";
}

ul+p, ol+p {
    padding-top: 10px;
}

ol, ol li {
    list-style-type: decimal !important;
    margin-left: 15px;
}

p.left-aligned {
    text-align: center;
}

.flex > .scroll {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.flex-sub {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-sub > * {
    width: 100%;
    flex-grow: 1;
}

.flex-sub input {
    text-align: center;
}

.red-border {
    border-top-color: red !important;
}


.table100 {
    width: 100%;
    margin-top: 0px !important;
}

.table100 tr {
    border-bottom: 1px solid #ddd !important;
}

.table100 input {
    padding: 10px;
    text-align: center;
    width: 100%;
}

/*.table100 tr > td:first-child input {
    border-left: black 1px;
}*/

.condensed {
    letter-spacing: -1.5px;
}

.smaller {
    font-size: 0.95rem;
}

.smallest {
    font-size: 0.843rem;
}

.item-stacked-label:first-child{
    margin-top: -2px !important;
}

.item-button-left .item-checkbox {
    display: inline-block !important;
    width: auto !important;
    height: 100%;
}

.item-radio:first-child{
    border-top-color: #404040 !important;
}

.black-top > .item-stacked-label:first-child {
    border-top-color: #404040 !important;
}

.deleteProject .popup {
    width: 275px !important;
}

.error-nb {
    font-size: 12px;
    margin-right: 3px;
}

.yellow {
    color: #e8ac18 !important;
}

.red {
    color: #db183d !important;
}

.limited-width {
    width: calc(90vw - 95px) !important;
}

.empty {
    padding-top: 50px;
    color: #979797;
    padding-bottom: 50px;
}

.page-title{
    margin-top : -10px;
    color: black;
    font-size: 1em;
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis !important;
}
.page-sub-title{
    margin-top: -25px;
    color: rgba(0, 0, 0, 0.6);
    font-size : .75em;
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.preload1 { background: url('../img/biblio.png') no-repeat -9999px -9999px; }
.preload2 { background: url('../img/layout.png') no-repeat -9999px -9999px; }
.preload3 { background: url('../img/tableOfContents.png') no-repeat -9999px -9999px; }
.preload4 { background: url('../img/page-icon.png') no-repeat -9999px -9999px; }
.preload5 { background: url('../img/fiche.png') no-repeat -9999px -9999px; }


.no-margin {
    margin: 0 !important;
}

.footer-button-custom {
    margin-top: 0 !important;
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

.padding-top {
    top: auto !important;
    bottom: auto !important;
}

.box {
    height: 90vh;
    width: 100%;
    display: block;
    text-align: center;
}

.slider {
  height: 100%;
}

.slider-slide {
  padding-top: 80px;
  color: white;
  background-color: white;
  text-align: center;
  font-weight: 300;
}

.blue.slider-slide{
    background-color: #387ef5 ;
}

.yellow.slider-slide {
    background-color: #ffc900;
}

.yellow p {
    color: black;
}

.green.slider-slide {
    background-color: #33cd5f;
}

.box h1 {
    color: white;
}

.justified {
    text-align: justify;
}

.padding-extreme {
    width: 75vw;
}

.padding-top-extreme {
    padding-top: 25px;
}
.box p {
    margin: auto;
}

.big {
    font-size: 96px !important;
}

#imgISBN {
    width: 150px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: white;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: black;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px white;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px white;
  }
}

.margin-top-medium {
    margin-top: 75px !important;
}

.imitateSVG {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 10% auto;
}

.popup-vertical-buttons .popup-buttons {
  display: block;
}

.popup-vertical-buttons .popup-buttons .button{
  display:block;
  min-width: 100% !important;
}

.link-beautiful {
    text-decoration: none;
    color: #387ef5;
}

.item-toggle{
  pointer-events:initial !important;
}

.button-priced {
    height: auto !important;
    font-size: 72px;
    margin: 0 !important;
    padding: 0;
    min-height: 144px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.06) !important;
}

.button-priced span {
    font-size: 36px;
}

.wrap {
    white-space: normal !important;
}

.avatar-notround > img {
    border-radius: 0 !important;
}

.normal a {
    text-decoration: none;
    color: black;
}

.popup select {
    -webkit-appearance:none;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border:thin solid #dddddd;
    font-weight:300;
    display:inline;
    vertical-align:middle;
    color:#333;
    padding: auto 0;
    overflow:hidden;
    box-sizing:border-box;
    width:200px;
    font-size:1rem;
    background-image: url(../img/select-arrow.png);
    text-indent:20px;
    padding:.3rem 0;
}

.select-style {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: 20px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    background-image: url(../img/select-arrow.png);
    background-repeat: repeat;
    background-color: rgba(0,0,0,0);
    background-size: 100%;
    box-sizing: border-box;
    display:inline;
    vertical-align:middle;
}
